@use "reset/reset";
@use "variables/variables";

* {
  :focus {
    outline-color: var(--color-accent);
    outline-width: 1px;
  }
}

.app {
  height: 100vh;
  font-family: var(--font-inter);
  font-size: var(--fs-base);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--app-bg);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}