{
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "printWidth": 115,
  "useTabs": true,
  "semi": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true
}