.header {
  display: flex;
  align-items: center;
  gap: var(--indent-12);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--input-outline);
  padding: var(--indent-16) var(--indent-24);
}

.avatar {
  border-radius: var(--indent-12);
  font-size: var(--fs-lg);
  font-weight: 700;
}

.title {
  font-size: var(--fs-xl);
  font-weight: 600;
}

.description {
  font-size: var(--fs-sm);
  color: var(--color-secondary);
}

.left {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--indent-16);
}

.filter,
.participants,
.newTask {
  padding: var(--indent-8) var(--indent-16);
}