.form {
	display: grid;
	gap: var(--indent-12);
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		'firstName lastName'
		'email email'
		'password password'
		'create create';
}

.input.firstName {
	grid-area: firstName;
}
.input.lastName {
	grid-area: lastName;
}
.input.email {
	grid-area: email;
}
.input.password {
	grid-area: password;
}

.send {
	grid-area: create;
	width: 100%;
	padding-block: var(--indent-12);
	border-radius: var(--indent-8);
	font-size: var(--fs-sm);
	font-weight: 600;
}
