* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: var(--fs-md);
	font-weight: 400;
	font-family: inherit;
	color: inherit;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
}
