.header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--input-outline);
}

.top {
  padding: var(--indent-24);
  display: flex;
  align-items: flex-start;
  gap: var(--indent-16);
}

.info {
  .bottom {
    display: flex;
    align-items: center;
    gap: var(--indent-16);
  }
}

.title {
  font-size: var(--fs-2xl);
  font-weight: 600;
  margin-bottom: var(--indent-4);
}

.description {
  font-size: var(--fs-sm);
  color: var(--color-secondary);
  margin-bottom: var(--indent-12);
}

.avatar {
  border-radius: var(--indent-12);
  font-size: var(--fs-3xl);
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--indent-8);
}

.settings {
  font-weight: 600;
}

.settings,
.addBoard {
  padding: var(--indent-8) var(--indent-12);
}

.tabs {
  padding: 0 var(--indent-24);
  display: flex;
  gap: var(--indent-24);
}

.tab {
  font-weight: 500;
  padding-bottom: var(--indent-12);
  border-bottom: 2px solid transparent;
  border-radius: 0;

  &:first-child {
    border-bottom: 2px solid var(--color-accent);
  }

  &:not(:first-child) {
    color: var(--color-secondary);
  }
}