.item {
  display: flex;
  align-items: center;
  gap: var(--indent-4);
  font-size: var(--fs-xs);
}

.icon {
  color: var(--color-secondary);
}

.text {
  display: flex;
  align-items: center;
  gap: var(--indent-4);
}

.value {
  font-weight: 500;
}

.label {
  font-weight: 300;
}