.label {
  display: flex;
  flex-direction: column;
  gap: var(--indent-4);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--indent-8);
  background-color: var(--input-bg);
  padding: var(--indent-8) var(--indent-16);
  border-radius: var(--indent-8);
}

.icon {
  color: var(--color-secondary);
}

.Input {
  border: none;
  outline: none;
  background-color: transparent;
}