.label {
  display: flex;
  flex-direction: column;
  gap: var(--indent-4);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--indent-8);
  background-color: var(--input-bg);
  padding: var(--indent-8) var(--indent-16);
  border-radius: var(--indent-8);

  &.disabled {
    opacity: 0.7;
  }

  &:focus-within {
    outline: 2px solid var(--color-accent)
  }
}

.icon {
  color: var(--color-secondary);
}

.Input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;

  &:disabled {
    pointer-events: none;
  }
}