.navigation {
  display: flex;
  align-items: center;
  gap: var(--indent-24);
}

.Link {
  color: var(--color-secondary);
  font-size: var(--fs-sm);
  padding-bottom: var(--indent-16);
  border-bottom: 2px solid transparent;
  font-weight: 500;

  &.active {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-accent);
  }
}