.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--indent-16) var(--indent-24);
  background-color: var(--color-white);
}

.left {
  display: flex;
  align-items: center;
  gap: var(--indent-32);
}

.logo {
  font-size: var(--fs-2xl);
  font-weight: 600;
}

.right {
  display: flex;
  gap: var(--indent-12);
}

.users {
  padding: var(--indent-8);
}

.avatar {
  color: var(--color-white);
}